! xresource file :D

!2bwm stuff
!twobwm.border_width: 10
!twobwm.outer_border: 7
twobwm.border_width: 0
twobwm.outer_border: 0
twobwm.focus_color: #78C0B3
twobwm.fixed_color: #78C0B3
twobwm.inverted_colors: false
twobwm.enable_compton: false

! DOOM-ONE
*foreground:   #bfbfbf
*background:   #282c34
*color0:       #1c1f24
*color8:       #3f444a
*color1:       #ff6c6b
*color9:       #ff6c6b
*color2:       #98be65
*color10:      #98be65
*color3:       #da8548
*color11:      #da8548
*color4:       #51afef
*color12:      #51afef
*color5:       #c678dd
*color13:      #c678dd
*color6:       #a9a1e1
*color14:      #a9a1e1
*color7:       #DFDFDF
*color15:      #ffffff

/*
! special
*.foreground:   #565e65
*.background:   #f3f4f5
*.cursorColor:  #565e65

! black
*.color0:       #1c2023
*.color8:       #747c84

! red
*.color1:       #c7ae95
*.color9:       #c7ae95

! green
*.color2:       #95c7ae
*.color10:      #95c7ae

! yellow
*.color3:       #aec795
*.color11:      #aec795

! blue
*.color4:       #ae95c7
*.color12:      #ae95c7

! magenta
*.color5:       #c795ae
*.color13:      #c795ae

! cyan
*.color6:       #95aec7
*.color14:      #95aec7

! white
*.color7:       #c7ccd1
*.color15:      #f3f4f5
*/

! URxvt config

URxvt.font: xft:FiraMono:size=11:antialias=true
URxvt.boldFont: xft:FiraMono:style=bold:size=11:antialias=true
URxvt.letterSpace: -2
URxvt.allowBoldFonts: true
URxvt.internalBorder: 40
URxvt.geometry: 62x16
URxvt.cursorBlink: false
URxvt.scrollBar: false
URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select,selection-to-clipboard
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.urlLauncher: firefox
URxvt.underlineURLs: true
URxvt.urlButton: 1
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.depth: 24

!! Xft Antialiasing
Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
